%header
  %nav
    .header-container.nav-wrapper
      %a.header-container__left.brand-logo  Chiha's Blog
      %ul.nav-mobile.header-container__right
        %li
          %ul.header-container__right__category.collapsible
            %li
              .collapsible-header 
                %p.header-container__right__category__menu
                  Categories
              .collapsible-body
                %ul
                  %li 
                    %a All Categories
                  %li 
                    %a Tech
                  %li 
                    %a Audio
                  %li 
                    %a Fishing
                  %li 
                    %a Others
