.top-contents-wrapper
  .top-contents-wrapper__opacity
    .top-contents__text-container
      .top-contents__text-container__title Chiha's Blog
      .top-contents__text-container__text 釣りとオーディオが好きなエンジニア見習いのブログ