// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-header{
  height: 100px;
  border-bottom: solid 2px gray;
  display: flex;
  justify-content: space-between;

  &__title{
    font-weight: bold;
    font-size: 30px;
    padding-left: 40px;
    line-height: 100px;
  }

  &__right{
    padding-left: 40px;
    line-height: 100px;
    display: flex;

    & li{
      padding: 0 40px;
    }
  }
}

.row .col.s6 {
  width: 100%;
}

.admin-index{

  &__form{
    padding: 100px;
  }

  &__btn{
    margin-left: 15px;
  }
}

.new-post-container{
  padding: 0 40px;
}
.new-post{

  &__title-and-category{
    width: 50vw;

    &__category{
      width: 200px;
    }
  }

  &__form-and-preview{
    display: flex;
    
  }

  &__left,&__right{
    display: inline-block;
    width: 50vw;
    margin: 0 20px;
  }

  &__right__preview{
    height: 90vh;
    display: inline-block;
    overflow: scroll;
    width: 100%;
  }

  &__bottom-option-and-submit{
    display: flex;
    justify-content: flex-end;
  }
}
.bottom_btn{
  margin-top: 10px;
}
textarea{
  display: inline-block;
  height: 90vh;
  overflow: scroll;
}