// Place all the styles related to the top_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
  height: 80px;
  width: 100vw; 
  display: flex;
  
}
.header-container{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
  line-height: 80px;
  &__left,&__right,&__center{
    display: inline-block;
  }
}
.main-container{
  height: calc(100vh - 80px);
  background-color: azure;
}
footer{
  height: 300px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  line-height: 300px;
}